.movie-card--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
}

.movie-card--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  margin: 25px;
  max-width: 300px;
}

/* MOVIE CARD HEADER */
.movie-card--header {
  padding: 1rem 0.5rem;
  align-self: start;

  .movie-card--title {
    font-size: 1rem;
    font-weight: 700;
  }

  .movie-card--subtitle {
    width: 295px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

/* MOVIE CARD CONTENT */
.movie-card--content {
  padding: 10px;
  width: fit-content;
  height: 100%;

  .movie-img {
    max-width: 400px;
    height: 75%;
  }
}
