<app-navigation></app-navigation>
<div class="movie-view">
  <mat-card *ngFor="let movie of movies;" class="movie-card">
    <mat-card-header>
      <mat-card-title>{{movie.Title}}</mat-card-title>
      <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
    </mat-card-header>
    <img class="imgbox" src={{movie.ImagePath}} alt={{movie.Title}} />
    <mat-card-actions>
      <button mat-button (click)="openGenre(movie.Genre.Name, movie.Genre.Description)" color="basic">
        Genre
      </button>
      <button mat-button (click)="
                openDirector(
                  movie.Director.Name,
                  movie.Director.Bio,
                  movie.Director.Birth,
                  movie.Director.Death                )
              " color="basic">
        Director
      </button>
      <button mat-button (click)="openSummary(movie.Title, movie.Description)" color="basic">
        Description
      </button>
      <button mat-button class="mat-icon-button" *ngIf="!isFavoriteMovie(movie._id)" (click)="addToFavorites(movie._id)"
        color="primary">
        <mat-icon>favorite_border</mat-icon>
      </button>
      <button mat-button class="mat-flat-button" *ngIf="isFavoriteMovie(movie._id)" (click)="addToFavorites(movie._id)"
        color="accent">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
