<!DOCTYPE html>
<html lang="en">

<head>
  <title>Movie Information</title>
</head>

<mat-card>
  <div>
    <mat-card-title>{{data.dialogTitle}}</mat-card-title>
    <mat-card-header><b>Bio: </b> {{data.dialogContent.directorBio}}</mat-card-header>
    <br />
    <mat-card-header><b>Year of birth: </b> {{ data.dialogContent.directorBirth }}</mat-card-header>
    <br />
    <mat-card-header><b>Year of Death: </b> {{ data.dialogContent.directorDeath }}</mat-card-header>
  </div>
</mat-card>
<!-- <ng-template class="mat-card" #elseBlock>
  <div>
    <mat-card-title class="mat-card-title">{{data.dialogTitle}}</mat-card-title>
    <mat-card-header>
      
  </div>
</ng-template> -->

</html>
